.message {
  border-style: solid;
  
  margin: 10px 0 0 0;
  padding: 0 10px;
}

.IF {
  border-color: green;
  color: green;
}

.DG {
  border-color: blue;
  color: blue;
}

.WR {
  border-color: yellow;
  color: yellow;
}

.ER {
  border-color: red;
  color: red;
}