@CHARSET "UTF-8";

html, body {
	padding: 0;
}

.header {
  position:fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 5em;
	
  margin: 0;
  padding: 0;
  
  border-bottom: 5px groove yellow;
  background-color: #0066FF;
}

.content {
  width: 100%;
  min-height: 400px;
	
  margin: 5em 0 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: 2em;
	
  margin: 0;
  padding: 0;
	
  border-top: 5px groove yellow;
  background-color: #0066FF;
}

.header-banner {
  width: 100%;
  height: 3.5em;
}

.horizontal-list ul {
  list-style-type: none;
  
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: inline-block;
}

.clear {
  clear: both;
}
