{% extends "generic_base.html" %}

{% block title %}{% endblock title %}

{% block header %}
	{% if user and user.is_authenticated %}
		Hello {{ user.full_name }}
		<a href="{% url 'logout_view' %}">Log out</a>
	{% else %}
		<a href="{% url 'login_view' %}">Log in</a>
	{% endif %}
{% endblock header %}

{% block content %}
	<div id="main-menu" class="main-menu">
	</div>
	<div id="main-content" class="main-content">
	   {% block main_content %}
	   {% endblock main_content %}
	</div>
	<div id="context-menu" class="context-menu">
	</div>
	<div class="block-clear"></div>
{% endblock content %}

{% block footer %}{{ block.super }}{% endblock footer %}