{% extends "generic_base.html" %}

{% block title %}{% endblock title %}

{% block header %}{{ block.super }}{% endblock header %}

{% block navigation_options %}
	{% if user and user.is_authenticated %}
		<li>
			{{ user.get_full_name }}
			<a href="{% url 'logout_user_view' %}">Log out</a>
		</li>
	{% else %}
		<li><a href="{% url 'login_user_view' %}">Log in</a></li>
		<li><a href="{% url 'create_user_view' %}">Create account</a></li>
	{% endif %}
{% endblock navigation_options %}

{% block content %}
	<div id="main-menu" class="main-menu">
	</div>
	<div id="main-content" class="main-content">
	   {% block main_content %}
	   {% endblock main_content %}
	</div>
	<div id="context-menu" class="context-menu">
	</div>
	<div class="block-clear"></div>
{% endblock content %}

{% block footer %}{{ block.super }}{% endblock footer %}