{% extends 'repository.html' %}

{% load staticfiles %}
{% load youtubetags %}

{% block title_block %}Youtube repository{% endblock title_block %}

{% block css_block %}
  {{ block.super }}
  {{ form.media }}
  <link rel="stylesheet" type="text/css" media="all" href="{% static "css/list.css" %}">
{% endblock css_block %}

{% block main_content_block %}
<div id="add-new-youtube-object-container-id" class="add-new-youtube-object-container">
  {% include 'include/add_new_object_form.html' %}
</div>
<div id="youtube-objects-container-id" class="list-container repository-container youtube-list-container youtube-repository-container">
  {% for youtube_object in objects %}
    {% show_youtube_element youtube_object %}
  {% endfor %}
</div>
{% endblock main_content_block %}