{% extends "base.html" %}

{% block title %}Youtube{% endblock title %}

{% block header %}{{ block.super }}{% endblock header %}

{% block main_menu %}
{{ block.super }}
{% endblock main_menu %}

{% block main_content %}
<form method="post" action="">{% csrf_token %}
    {{ form.as_ul }}
    {% block submit_button %}
    <input type="submit" value="Add"/>
    {% endblock submit_button %}
</form>
<div>
	<ul>
		{% for object in repository %}
		<li>{{ object.name }}</li>
		{% endfor %}
	<ul>
</div>
{% endblock main_content %}

{% block footer %}{{ block.super }}{% endblock footer %}