.form-button {
  width: 80px;
}

.form-button:HOVER {
  background-color: yellow;
}

.login_input {
	width: 120px;
	
	padding: 3px;
	
	border: 1px solid black;
}

.login_input:HOVER {
  background-color: yellow;
}