{% extends "base_menu.html" %}

{% block title_block %}{{ block.super }}{% endblock title_block %}

{% block css_block %}{{ block.super }}{% endblock css_block %}

{% block body_block %}
  <div id="content-block-id">
  {% block content_block %}
    <div id="context-menu-id" class="context-menu">
    {% block context_menu_block %}
    {% endblock context_menu_block %}
    </div>
    <div id="main-content-id" class="main-content">
    {% block main_content_block %}
    {% endblock main_content_block %}
    </div>
  {% endblock content_block %}
  </div>
{% endblock body_block %}