{% extends "generic_base.html" %}
{% load staticfiles %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock css_links %}

{% block title %}{% endblock title %}

{% block header %}{{ block.super }}{% endblock header %}

{% block navigation_options %}
	{% if user and user.is_authenticated %}
		<li>
			<a href="{% url 'logout_user_view' %}">Log out</a>
			<a href="{% url 'show_user_view' user.id %}">{{ user.get_short_name }}</a>
		</li>
	{% else %}
		<li><a href="{% url 'login_user_view' %}">Log in</a></li>
		<li><a href="{% url 'create_user_view' %}">Create account</a></li>
	{% endif %}
{% endblock navigation_options %}

{% block content %}
	<div id="main-menu" class="main-menu">
	{% block main_menu %}
	{% endblock main_menu %}
	</div>
	<div id="main-content" class="main-content">
	{% block main_content %}
	{% endblock main_content %}
	</div>
	<div id="context-menu" class="context-menu">
	</div>
	<div class="block-clear"></div>
{% endblock content %}

{% block footer %}{{ block.super }}{% endblock footer %}