{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block css_links %}{% endblock css_links %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
	<div id="header" class="header">
	{% block header %}
    {% endblock header %}
    	<nav id="nav-bar-container" class="nav-bar-container">
			<ul class="nav-list">
				<li><a href="{% url 'index_view' %}">Compare</a></li>
				<li><a href="{% url 'about_view' %}">About</a></li>
				{% block navigation_options %}
				{% endblock navigation_options %}
			</ul>
		</nav>
		<nav id="types-nav-bar-containder" class="nav-bar-container">
		<ul class="nav-list">
		{% block types_navigation_options %}
		{% endblock types_navigation_options %}
		</ul>
		</nav>
	</div>

	<div id="content-wrapper" class="content-wrapper">
		<div id="content" class="content">
		{% block content %}
    	{% endblock content %}
		</div>
	
		<div id="footer" class="footer">
		{% block footer %}
    	{% endblock footer %}
    	</div>
    </div>

</body>
</html>