{% extends "index.html" %}

{% block title %}Compare {{ user.get_full_name }}{% endblock title %}

{% block header %}
  {{ block.super }}
{% endblock header %}

{% block types_navigation_options %}
{% for object_type in user.allowed_object_types.all %}
	<li><a{% if object_type.index_view %} href="{% url object_type.index_view %}"{% endif %}>{{ object_type.name }}</a></li>
{% endfor %}
{% endblock types_navigation_options %}

{% block main_menu %}
{% include "list-menu.html" %}
{% endblock main_menu %}

{% block main_content %}
{% endblock main_content %}

{% block footer %}{{ block.super }}{% endblock footer %}